# Projeto 1 - Ciência dos Dados

Nome: _____

Nome: _____

Atenção: Serão permitidos grupos de três pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisarão fazer um questionário de avaliação de trabalho em equipe

___
Carregando algumas bibliotecas:

In [4]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [5]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
/Users/gustavopinheiro/OneDrive - Insper - Institudo de Ensino e Pesquisa/Ciência dos Dados/Projeto 1/Obtenção dos Tweets

Carregando a base de dados com os tweets classificados como relevantes e não relevantes:

In [6]:
filename = 'Xiaomi.xlsx'

In [7]:
train = pd.read_excel(filename)
train.head(5)

                                         Treinamento  Unnamed: 1
0  @baixinho04 xiaomi seria uma boa opção. eu ten...         1.0
1  ainda bem q tenho xiaomi e ele tá cm 73%, dura...         0.0
2  @tetenc555 @naegiwcat eu vó compra um xiaomi r...         0.0
3  @10icarocaldas por esse preço tu comprar o xia...         0.0
4  vcs que tem xiaomi sabiam que dá p/ usar o you...         0.0

In [8]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.head(5)

                                               Teste  Classificação
0  @luffyoficial_ entt amg,  omo eu ainda não ten...            0.0
1                     a xiaomi me prometeu qualidade            0.0
2  algum sugar daddy on pra me dar o robo aspirad...            0.0
3  @xiaomibrasil me salva aí, xiaomi com os bugs....            0.0
4  meu celular ja ta em fim de carreira n vejo a ...            0.0

In [10]:
test.Classificação.value_counts(True)

0.0    0.649819
1.0    0.350181
Name: Classificação, dtype: float64

___
## Classificador automático de sentimento

Faça aqui uma descrição do seu produto e o que considerou como relevante ou não relevante na classificação dos tweets.

ESCREVA AQUI...

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

___
### Verificando a performance do Classificador

Agora você deve testar o seu classificador com a base de Testes.

___
### Concluindo

___
### Qualidade do Classificador a partir de novas separações dos tweets entre Treinamento e Teste

Caso for fazer esse item do Projeto

___
## Aperfeiçoamento:

Os trabalhos vão evoluir em conceito dependendo da quantidade de itens avançados:

* Limpar: \n, :, ", ', (, ), etc SEM remover emojis
* Corrigir separação de espaços entre palavras e emojis ou entre emojis e emojis
* Propor outras limpezas e transformações que não afetem a qualidade da informação ou classificação
* Criar categorias intermediárias de relevância baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante (3 categorias: C, mais categorias conta para B)
* Explicar por que não posso usar o próprio classificador para gerar mais amostras de treinamento
* Propor diferentes cenários para Naïve Bayes fora do contexto do projeto
* Sugerir e explicar melhorias reais com indicações concretas de como implementar (indicar como fazer e indicar material de pesquisa)

___
## Referências

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**